body{
    background-color: lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbuttons{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
   
}
.navbuttons > button{
    font-size: 20px;
    color: black;
}
  

.navega{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
   
    color: black;
    border: 2px solid black;
   
}
.navega > a{
    text-decoration: none;
    color: black;
}

.cabeza{
    text-align: center;
    font-size: 35px;
   color: black;
    border: 2px solid black;
    margin-bottom: 20px;
}

.medium{
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 2px solid black;
}

.paragra{
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    margin: 20px;
}

.info{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    margin: 20px;
}

h2{
    margin-right: 20px;
}
.info > h2 {
    border: 2px solid black;
    margin-right: 20px;
}
.info > div{
margin-right: 20px;
    border: 2px solid black;

}