body{
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbuttons{
    display: flex;
    justify-content: space-around;
  
   
   
}
.navbuttons > button{
    font-size: 20px;
    color: white;
    background-color: #d0021b;
    border-radius: 6px;
    height: 50px;
    width: 150px;
     margin-top: 10px;
}
  

.navega{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: #353640;
    color: black;
   margin-top: 20px;
   height: 50px;
   
}
.navega > a{
    
    text-decoration: none;
    color: white;

}

.cabeza{
    text-align: center;
    font-size: 35px;
   color: black;
   
    margin-bottom: 20px;
}

.medium{
   display: flex;
   justify-content: space-around;
   align-items: center;
    background-color: #353640;
    color: white;
}
.social-media{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  
    margin: 10px;
    color: white;

}
svg{
     display: flex;

    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    fill: white;
}
.image{
    display: flex;
    justify-content:center;
 
    margin-top: 20px;
}
.image> img{
     max-width: 100%;
    height: auto;
}


.paragra{
    font-size: 20px;
   
    color: black;
   
    margin: 20px;
}

.info{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
  border-radius: 6px;
    margin: 20px;
       background-color: #d0021b;
}

h2{
    margin-right: 20px;
}
.info > h2 {

    margin-right: 20px;
}
.info > div{
margin-right: 20px;
 

}

.finale{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: white;
    margin: 20px;
 background-color: #353640;
}

 a{
    text-decoration: none;
    color: white;
}